
private/application/cache/*
private/application/cache/!index.html
private/application/log/log-*.php

/.htaccess
/index.php
ci-proj-admin/.htaccess
ci-proj-admin/.htpasswd
private/application/config/database.php

