
# Reference: Apache Module mod_access_compat
# http://httpd.apache.org/docs/current/mod/mod_access_compat.html

Order Deny,Allow
Deny from all
Allow from ::1 127.0.0.1

# `::1' is the IPv6 localhost.

# Reference: .htaccess allow 127.0.0.1 but not localhost
# http://stackoverflow.com/questions/6005072

